@model OrderViewModel
@{
    ViewData["Title"] = "Order Details";
}
<form method="post">
    <input asp-for="@Model.orderHeader.Id" hidden />
    <input asp-for="@Model.orderHeader.UserId" hidden />
    <br />
    <div asp-validation-summary="All"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-controller="Order" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.Name" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.Name" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.PhoneNumber" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.PhoneNumber" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.Street" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.Street" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.City" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.City" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.State" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.State" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.Postal" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.Postal" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.applicationUser.Email" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.applicationUser.Email" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.OrderDate" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.OrderDate" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.Carrier" id="CarrierId" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.Carrier" id="CarrierId" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.TrackingNumber" id="trackingId" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.TrackingNumber" id="trackingId" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.ShippingDate" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.ShippingDate" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>

                            @{
                                if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                {
                                    <div class="row my-1">
                                        <div class="col-3">Session ID</div>
                                        <div class="col-9">
                                            <input asp-for="@Model.orderHeader.SessionId" type="text" class="form-control" />
                                        </div>
                                    </div>
                                }
                            }
                            @{
                                if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                {
                                    <div class="row my-1">
                                        <div class="col-3">Payment Intent ID</div>
                                        <div class="col-9">
                                            <input asp-for="@Model.orderHeader.PaymentIntentId" type="text" class="form-control" />
                                        </div>
                                    </div>
                                }

                            }
                            @{
                                if (Model.orderHeader.PaymentStatus == StaticData.PaymentStatusApproved)
                                {
                                    <div class="row my-1">
                                        <div class="col-3">Payment Date</div>
                                        <div class="col-9">
                                            @{

                                                if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                                {
                                                    <input asp-for="@Model.orderHeader.PaymentDate" type="text" class="form-control" />
                                                }
                                                else
                                                {
                                                    <input readonly asp-for="@Model.orderHeader.PaymentDate" type="text" class="form-control" />

                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row my-1">
                                        <div class="col-3">Payment Due Date</div>
                                        <div class="col-9">
                                            @{
                                                if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                                {
                                                    <input asp-for="@Model.orderHeader.PaymentDueDate" type="text" class="form-control" value="@(DateOnly.FromDateTime(Model.orderHeader.PaymentDueDate))" />
                                                }
                                                else
                                                {
                                                    <input readonly asp-for="@Model.orderHeader.PaymentDueDate" type="text" class="form-control" value="@(DateOnly.FromDateTime(Model.orderHeader.PaymentDueDate))" />

                                                }
                                            }
                                        </div>
                                    </div>
                                }

                            }
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    @{
                                        if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                                        {
                                            <input asp-for="@Model.orderHeader.PaymentStatus" type="text" class="form-control" />
                                        }
                                        else
                                        {
                                            <input readonly asp-for="@Model.orderHeader.PaymentStatus" type="text" class="form-control" />

                                        }
                                    }
                                </div>
                            </div>
                            @if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                            {
                                <button asp-action="UpdateOrderDetails" type="submit" class="btn btn-warning form-control my-1">Update Order Details</button>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.orderHeader.OrderStatus</label>

                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.orderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-primary">@detail.Product.Title</h6>
                                                <small class="text-muted">Price : $@(detail.Product.Price).00</small><br />
                                                <small class="text-muted">Quantity : @detail.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">$@(detail.Count * detail.Product.Price).00</p>
                                            </div>
                                        </div>
                                    </li>
                                }

                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">$@(Model.orderHeader.OrderTotal)</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (User.IsInRole(StaticData.Comp_Role) && Model.orderHeader.OrderStatus == StaticData.OrderStatusShipped && Model.orderHeader.PaymentStatus == StaticData.PaymentStatusDelayedPayment)
                            {
                                <button type="submit" class="btn btn-success form-control my-1" value="Pay Now">Pay Now</button>
                            }
                            @if (User.IsInRole(StaticData.Admin_Role) || User.IsInRole(StaticData.Emp_Role))
                            {
                                if (Model.orderHeader.OrderStatus == StaticData.OrderStatusApproved)
                                {
                                    <button asp-action="StartProcessing" type="submit" class="btn btn-primary form-control my-1" value="Start Processing">Start Processing</button>
                                }
                                if (Model.orderHeader.OrderStatus == StaticData.OrderStatusInProcess)
                                {
                                    <button type="submit" asp-action="ShipOrder" onclick="return validateData()" class="btn btn-primary form-control my-1" value="Ship Order">Ship Order</button>
                                }
                                if (Model.orderHeader.OrderStatus != StaticData.OrderStatusRefunded &&
                                Model.orderHeader.OrderStatus != StaticData.OrderStatusCancelled &&
                                Model.orderHeader.OrderStatus != StaticData.OrderStatusShipped)
                                {
                                    <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" value="Cancel Order">Cancel Order</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script>
            function validateData() {
                if (document.getElementById("CarrierId").value == "") {
                    Swal.fire({
                        title: 'Oops',
                        text: "Carrier not assigned",
                        icon: 'error'
                    });
                    return false;
                }
                if (document.getElementById("trackingId").value == "") {
                    Swal.fire({
                        title: 'Oops',
                        text: "Tracking ID not assigned",
                        icon: 'error'
                    })
                    return false;
                }
                return true;
            }
            function shipOrder()
            {

            }
        </script>
    }
}