@{
    ViewData["Title"] = "Order";
    var status = Context.Request.Query["status"];
    var inprocess = "test-primary";
    var paymentpending = "test-primary";
    var approved = "test-primary";
    var completed = "test-primary";
    var all = "test-primary";
    switch (status)
    {
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "paymentpending":
            paymentpending = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }

}
@model OrderViewModel
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                <li class="list-group-item @inprocess">In Process</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="paymentpending">
                <li class="list-group-item @paymentpending">Payment Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
                <li class="list-group-item @completed">Completed</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration:none ;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All </li>
                </a>

            </ul>
        </div>
        <table id="myTable" class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Total
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        </>
    </div>
    @section Scripts{
        @{
            <script src="~/js/order.js"></script>
        }
    }

